<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Merchant Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="5" comments="New orders!" blink="blink" colour="red" type="shopping-cart" goto="dashboard.table"></stats>
        <stats number={{paymentCount}} comments="New Payments!" colour="primary" type="dollar"></stats>
        <stats number="0" comments="New tasks!" colour="primary" type="user"></stats>
        <stats number="0" comments="New Comments!" colour="primary" type="comment"></stats>

    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
